body {
  overflow-x: hidden;
}

.container {
  overflow: hidden;
}

.bg-darkgrey {
  background-color: #202020;
}

.bg-red {
  background-color: #ee2224;
}

.bg-blue {
  background-color: #003bb3;
}

.text-darkgrey {
  color: #404040;
}

.text-darkgrey:hover {
  color: #404040;
  text-decoration: none;
}

.date {
  padding: 13px;
}

/* News Ticker */
.trending-box {
  width: 150px;
  z-index: 999;
  position: absolute;
  animation: pop 1s ease-in;
}

.trending-box .bg-red {
  animation: breathing 2s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
  .trending-box {
    width: 85px;
  }
  .trending-box .text {
    display: none;
  }
  .trending-box .bg-red {
    height: 56px;
    width: 56px;
  }
}

.trending-news a {
  min-width: fit-content;
}

.trending-news-item {
  width: fit-content;
  animation: geser 60s linear infinite;
}

.news-title {
  width: 250px;
  vertical-align: middle;
  color: #202020;
  line-height: 1;
}

.card-title u {
  text-decoration-color: white;
  border-bottom: 3px solid #ffc934;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.card-title {
  font-weight: bold;
}

.trending-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.trending-image {
  margin-right: 20px;
  flex-shrink: 0;
}

.trending-image img {
  height: 94px;
  width: 94px;
  object-fit: cover;
}

.trending-title a {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.trending-title a:hover {
  text-decoration: underline;
}

@keyframes geser {
  0% {
    transform: translateX(62.5%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
