body {
  background-color: #1c1c1c;
  color: #8892b0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  bottom: 660px;
  right: 0;
  left: 0;
  display: flex;
  padding: 0 50px;
  transition: all 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 999;
  background-color: rgba(28, 28, 28, 0.75);
  backdrop-filter: blur(10px);
}

header.scroll-up {
  transform: translateY(0);
}

header.scroll-down {
  transform: translateY(-100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a#logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: #ff8a00;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

a#logo:hover {
  transform: scale(1.2);
}

nav ul {
  font-family: "SF Mono", monospace;
  font-size: 13px;
  list-style: decimal-leading-zero;
  color: #ccd6f6;
  padding: 10px 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ff8a00;
  padding: 10px;
}

nav ul li a span {
  color: #ccd6f6;
}

nav ul li a:hover span {
  color: #ff8a00;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border-radius: 4px;
}

ul#social-media {
  position: fixed;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  height: 340px;
  bottom: 0;
  padding: 0;
  margin: 0 0 0 41px;
}

ul#social-media::after {
  content: "";
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 18px;
  border-left: 2px solid #a8b2d1;
}

ul#social-media li a {
  color: #a8b2d1;
  font-size: 18px;
  align-items: center;
  height: 46px;
  width: 40px;
  padding: 10px;
}

i {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

ul#social-media li a:hover i {
  color: #ff8a00;
  transform: translateY(-3px);
}

ul#social-media li#line {
  height: 87px;
}

#email {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 45px;
  height: 340px;
  width: 40px;
}

#email::after {
  content: "";
  position: absolute;
  top: 250px;
  bottom: 0;
  right: 18px;
  border-right: 2px solid #a8b2d1;
}

#email a {
  color: #a8b2d1;
  font-family: "SF Mono", monospace;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-decoration: none;
  padding: 10px;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transform: rotate(90deg) translate(-57px);
}

#email a:hover {
  color: #ff8a00;
  transform: rotate(90deg) translate(-60px);
}

section#home {
  height: 760px;
  width: 1000px;
  margin: auto;
  transform: translate(-2px);
  display: flex;
  flex-direction: column;
}

section#home h1 {
  margin: 171px 0 30px 4px;
  font-family: "SF Mono", monospace;
  font-weight: 300;
  font-size: 16px;
  color: #ff8a00;
  line-height: 17.6px;
  width: fit-content;
  height: fit-content;
}

section#home h2 {
  font-family: Calibre, Inter, "San Francisco";
  font-size: 80px;
  font-weight: 600;
  line-height: 88px;
  color: #ccd6f6;
  width: fit-content;
  height: fit-content;
  margin: 0;
}

section#home h3 {
  font-family: Calibre, Inter, "San Francisco";
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  width: fit-content;
  height: fit-content;
  margin: 5px 0 0 0;
}

section#home p {
  font-family: Calibre, Inter, "San Francisco";
  font-size: 20px;
  line-height: 26px;
  width: 650px;
}

section#home a {
  font-family: "SF Mono", monospace;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #ff8a00;
  height: fit-content;
  width: fit-content;
  border: 1px solid #ff8a00;
  margin: 32px 0 0 0;
  padding: 20px 28px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s
}

section#home a:hover {
  background-color: rgba(255, 138, 0, 10%);
}