body {
  background-color: #0A192F;
  color: #8892B0;
}

header {
  position: fixed;
  top: 0;
  bottom: 660px;
  right: 0;
  left: 0;
  display: flex;
  transition: all 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 999;
  background-color: rgba(10, 25, 47, 0.75);
  backdrop-filter: blur(10px); /* apply blur effect */
}

header.scroll-up {
  transform: translateY(0);
}

header.scroll-down {
  transform: translateY(-100%); 
}