body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  background-color: #1c1c1c;
}

h1 {
  font-family: "SF Mono", monospace;
  color: #ff8a00;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.kotak {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: #fff;
  margin: 25px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.kotak:hover {
  filter: brightness(75%);
}
