body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  font-family: "SF Mono", monospace;
  background-color: #ff8a00;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  filter: brightness(75%);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin: 10px;
}
